<%- include("partials/header.ejs") %>

<body>
    <h1>Update Quote</h1>
    <div class="container">
        <form method="POST" action="/quote/edit">
            <input type="hidden" name="quoteId" value="<%=quoteInfo.quoteId%>">

            Quote Text: <br>
            <textarea name="quote" rows="4" cols="50"><%=quoteInfo.quote%></textarea><br>

            Author:
            <%=quoteInfo.firstName%> <%=quoteInfo.lastName%><br>

             Category:
            <select name="category">
                <% for (let i=0; i < categories.length; i++) { %>
                    <option value="<%=categories[i].category%>">
                        <%= quoteInfo.category === categories[i].category ? "selected > " : "" %>
                        <%=categories[i].category %>
                    </option>
                <% } %>
            </select><br>

            Likes:
            <input type="number" name="likes" value="<%= quoteInfo.likes %>">
            <br>

            <button>Update Quote</button>
        </form>
    </div>
    <%- include("partials/footer.ejs") %>
</body>
</html>